html, body {
	background-color: #ffffff;
}

body {
	padding-top: 90px;

	/* Gutter for wider displays */
	padding-left: 360px;
	padding-right: 360px;
}

@media screen and (max-width: 480px) {
	html, body {
		padding-left: 16px;
		padding-right: 16px;
	}
}
